@import "./normalize.scss";

// === mixin ===
@mixin font-montserrat {
  font-family: "Montserrat", sans-serif;
}
@mixin font-metrophobic {
  font-family: "Metrophobic", sans-serif;
}
// === / mixin ===

// === variables ===
$color-white: #ffffff;
$color-pale-pink: #f6f2f2;
$color-black: #000000;
$color-grey: #333333;
$color-light-grey: #4c4c4c;
$color-red: #ff2d2d;
// === / variables ===

// === common ===
* {
  box-sizing: border-box;
}
body {
  @include font-montserrat;
}

.inner {
  margin: 0 auto;
  width: 1180px;
}
// === / common ===

// === header ===
.header {
  background-color: $color-pale-pink;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-menu {
    flex-shrink: 1;
    padding: 36px;
    background-color: $color-grey;
    width: 100%;
    text-align: center;
    margin-top: 30px;

    &__link {
      color: $color-white;
      text-decoration: none;
      padding: 0 34px;
      transition: 0.2s;

      &.active {
        background-color: $color-red;
        padding: 36px 34px;
      }

      &:hover {
        background-color: $color-red;
        padding: 36px 34px;
      }
    }
  }

  &-content {
    align-items: center;
    display: flex;
    flex-grow: 1;

    &__wrapper {
      margin: 0 auto;
      flex-direction: row;
      display: flex;
    }

    &__greetings,
    &__video {
      flex-basis: 50%;
    }

    &__greetings {
      padding-right: 110px;

      h1 {
        font-size: 60px;
        line-height: 72px;
        color: $color-black;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 32px;
      }

      h3 {
        font-size: 16px;
        line-height: 28px;
        color: $color-light-grey;
        width: 90%;
        margin-bottom: 54px;
      }

      a {
        @include font-metrophobic;

        background: $color-red;
        border: none;
        border-radius: 5px;
        color: $color-white;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        margin: 0;
        outline: none;
        text-decoration: none;
        padding: 16px 60px;
      }
    }
  }
}
// === / header ===

// === offer ===
.offer {
  padding-bottom: 110px;
  padding-top: 110px;
  .inner {
    display: flex;
  }
  &-description {
    flex-basis: 50%;
    padding-right: 130px;

    &__title {
      font-size: 42px;
        line-height: 55px;
        color: $color-black;
        margin-bottom: 50px;
        text-transform: uppercase;
    }
    &__text {
      font-size: 16px;
      line-height: 26px;
      color: $color-light-grey;
      margin-bottom: 56px;
    }

    &__button {
      @include font-metrophobic;

        background: $color-white;
        border: 2px solid $color-red;
        border-radius: 5px;
        color: $color-red;
        cursor: pointer;
        display: inline-block;
        font-size: 18px;
        margin: 0;
        outline: none;
        padding: 16px 60px;

    }
  }

  &__functions {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
  }

  &-function {
    width: 290px;

    &:nth-child(odd) {
      padding-right: 20px;
    }

    &:nth-child(even) {
      padding-left: 20px;
    }

    &__icon {
      margin-bottom: 26px;
    }

    &__title {
      font-size: 24px;
      color: $color-grey;
      margin-bottom: 20px;

    }
    &__text {
      font-size: 16px;
      line-height: 24px;
      color: $color-light-grey;
      margin-bottom: 40px;

    }
  }
}

// === / offer ===

// === products ===
// === / products ===

// === team ===
// === / team ===

// === subscription ===
// === / subscription ===

// === communication ===
// === / communication ===

// === footer ===
// === / footer ===
