@import "./normalize.scss";

// === mixin ===
@mixin font-montserrat {
  font-family: "Montserrat", sans-serif;
}
@mixin font-metrophobic {
  font-family: "Metrophobic", sans-serif;
}
// === / mixin ===

// === variables ===
$color-white: #ffffff;
$color-pale-pink: #fff0f0;
$color-black: #000000;
$color-grey: #333333;
$color-light-grey: grey;
$color-red: #ff3b3b;
// === / variables ===

// === common ===
* {
  box-sizing: border-box;
}
body {
  @include font-montserrat;
}

.inner {
  margin: 0 auto;
  width: 1180px;
}

@mixin btn-main {
  @include font-metrophobic;

  border-radius: 5px;
  cursor: pointer;
  font-size: 18px;
  margin: 0;
  outline: none;
  padding: 16px 60px;
  text-decoration: none;
}

.btn-primary {
  @include btn-main;
  background: $color-red;
  border: 2px solid $color-red;
  color: $color-white;

  &:hover {
    background: $color-white;
    border: 2px solid $color-red;
    color: $color-red;
  }
}

.btn-secondary {
  @include btn-main;

  background: $color-white;
  border: 2px solid $color-red;
  color: $color-red;

  &:hover {
    background: $color-pale-pink;
  }
}

hr {
  background-color: $color-red;
  border: none;
  color: $color-red;
  height: 2px;
  margin-top: 30px;
  width: 140px;
}
// === / common ===

// === header ===
.header {
  background-color: $color-pale-pink;

  .inner {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  &-menu {
    background-color: $color-grey;
    flex-shrink: 1;
    margin-top: 30px;
    padding: 36px;
    text-align: center;
    width: 100%;

    &__link {
      color: $color-white;
      padding: 0 34px;
      text-decoration: none;
      transition: 0.2s;

      &.active {
        background-color: $color-red;
        padding: 36px 34px;
      }

      &:hover {
        background-color: $color-red;
        padding: 36px 34px;
      }
    }
  }

  &-content {
    align-items: center;
    display: flex;
    flex-grow: 1;

    &__wrapper {
      flex-direction: row;
      display: flex;
      margin: 0 auto;
    }

    &__greetings,
    &__video {
      flex-basis: 50%;
    }

    &__greetings {
      padding-right: 110px;

      h1 {
        color: $color-black;
        font-size: 60px;
        font-weight: bold;
        line-height: 72px;
        margin-bottom: 32px;
        text-transform: uppercase;
      }

      h3 {
        color: $color-light-grey;
        font-size: 16px;
        margin-bottom: 54px;
        line-height: 28px;
        width: 90%;
      }
    }
  }
}
// === / header ===

// === offer ===
.offer {
  padding-bottom: 110px;
  padding-top: 110px;
  .inner {
    display: flex;
  }
  &-description {
    flex-basis: 50%;
    padding-right: 130px;

    &__title {
      color: $color-black;
      font-size: 42px;
      margin-bottom: 50px;
      line-height: 55px;
      text-transform: uppercase;
    }
    &__text {
      color: $color-light-grey;
      font-size: 16px;
      margin-bottom: 56px;
      line-height: 26px;
    }
  }

  &__functions {
    display: flex;
    flex-basis: 50%;
    flex-wrap: wrap;
  }

  &-function {
    width: 290px;

    &:nth-child(odd) {
      padding-right: 20px;
    }

    &:nth-child(even) {
      padding-left: 20px;
    }

    &__icon {
      margin-bottom: 26px;
    }

    &__title {
      color: $color-grey;
      font-size: 24px;
      margin-bottom: 20px;
    }
    &__text {
      @include font-metrophobic;

      color: $color-light-grey;
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 24px;
    }
  }
}

// === / offer ===

// === products ===
.products {
  .inner {
    align-items: center;
    border-top: 2px solid #cccccc;
    display: flex;
    flex-direction: column;
    padding-top: 110px;
  }
  &__title {
    color: $color-black;
    font-size: 42px;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: $color-light-grey;
    font-size: 16px;
    font-weight: normal;
    line-height: 28px;
    margin: 0 auto 80px;
    text-align: center;
    width: 45%;
  }

  &__menu {
    align-items: center;
    display: flex;
    margin-bottom: 68px;
    list-style: none;
    li {
      & + li {
        margin-left: 40px;
      }
      a {
        @include font-metrophobic;

        color: $color-light-grey;
        font-size: 22px;
        font-weight: 400;
        line-height: 24px;
        text-transform: uppercase;
        text-decoration: none;

        &.active,
        &:hover {
          color: $color-red;
        }
      }
    }
  }

  &__img {
    img:not(:last-child) {
      margin-right: 20px;
    }
    img:nth-child(4) {
      margin-right: 0px;
    }
    img:nth-child(-n + 4) {
      margin-bottom: 20px;
    }
  }
}
// === / products ===

// === team ===
.team {
  padding-bottom: 110px;
  padding-top: 110px;

  .inner {
    display: flex;
    flex-direction: column;
  }
  &__title,
  &__subtitle {
    align-self: flex-start;
  }
  &__title {
    color: $color-black;
    font-size: 42px;
    margin-bottom: 36px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: $color-light-grey;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 70px;
    line-height: 28px;
    width: 45%;

    hr {
      margin: 30px 0 0;
    }
  }
  &__people {
    display: flex;
  }
  &__person {
    padding-right: 70px;
  }
  &-details {
    &__name {
      color: $color-black;
      font-size: 30px;
      margin-bottom: 38px;
      text-transform: uppercase;
    }

    &__about {
      @include font-metrophobic;

      color: $color-light-grey;
      font-size: 16px;
      margin-bottom: 40px;
      line-height: 28px;
      width: 80%;
    }

    &__social {
      @include font-metrophobic;

      font-size: 18px;
      font-style: italic;
      margin-bottom: 40px;
      width: 80%;
      a {
        color: $color-grey;
        text-decoration: none;

        & + a {
          margin-left: 30px;
        }
      }
    }
    &__img {
      display: flex;

      &-photo {
        position: relative;

        &:nth-child(-n + 3) {
          margin-right: 10px;
        }

        img {
          height: 100%;
          width: 100%;
        }
      }
      &-name {
        @include font-metrophobic;

        background: rgba(51, 51, 51, 0.6);
        bottom: 0px;
        color: $color-white;
        display: none;
        font-size: 18px;
        left: 0px;
        text-align: center;
        text-decoration: none;
        padding: 10px 0;
        position: absolute;
        width: 100%;
      }
      &-photo:hover &-name {
        display: block;
      }
    }
  }
}
// === / team ===

// === subscription ===
.subscription {
  background: $color-pale-pink;
  color: $color-light-grey;
  padding-top: 110px;
  padding-bottom: 110px;
  text-align: center;

  &__title {
    color: $color-grey;
    font-size: 42px;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-size: 18px;
    font-weight: normal;
    margin: 0 auto 70px;
    line-height: 28px;
    width: 60%;
  }

  &__form {
    display: flex;
    justify-content: center;

    &-input {
      @include font-metrophobic;
      background-color: $color-white;
      border: 1px solid #e5e5e5;
      border-radius: 5px;
      color: $color-black;
      flex-basis: 520px;
      font-size: 16px;
      margin-right: 20px;
      outline: none;
      padding: 24px;

      &::placeholder {
        color: $color-light-grey;
      }
    }
  }
}
// === / subscription ===

// === communication ===
.communication {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  padding-top: 110px;
  padding-bottom: 110px;

  &__title {
    color: $color-black;
    font-size: 42px;
    margin-bottom: 50px;
    text-transform: uppercase;
  }
  &__subtitle {
    color: $color-light-grey;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 74px;
    line-height: 28px;
    width: 45%;

    hr {
      margin: 50px 0 0;
    }
  }
  &__main {
    display: flex;
  }
  &__form {
    @include font-metrophobic;
    display: flex;
    flex-basis: 60%;
    flex-direction: column;
    padding-right: 110px;

    &-data {
      display: flex;
      input {
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
        border-radius: 5px;
        color: $color-black;
        font-size: 16px;
        margin-bottom: 44px;
        outline: none;
        padding: 24px;
        width: 100%;
        & + input {
          margin-left: 20px;
        }
      }
    }
    &-message {
      display: flex;
      flex-direction: column;
      textarea {
        background-color: #ffffff;
        border: 2px solid #e5e5e5;
        border-radius: 5px;
        color: $color-black;
        font-size: 16px;
        height: 240px;
        margin-bottom: 44px;
        outline: none;
        padding: 30px;
        resize: none;
      }
    }
  }
  &__contact {
    background-color: $color-grey;
    color: $color-white;
    display: flex;
    flex-basis: 40%;
    flex-direction: column;
    justify-content: center;
    padding-left: 76px;

    &-title {
      color: $color-white;
      font-size: 18px;
      margin-bottom: 36px;
      text-transform: uppercase;
    }
    &-address,
    &-email,
    &-phone {
      @include font-metrophobic;

      color: $color-white;
      font-size: 16px;
      margin-bottom: 26px;
      line-height: 28px;
    }

    &-address {
      width: 80%;
    }
  }
}
// === / communication ===

// === footer ===
.footer {
  background-color: $color-grey;
  padding-bottom: 50px;
  padding-top: 50px;

  .inner {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
  &__copyright {
    color: $color-white;
    font-size: 16px;
  }
  &__social {
    img {
      height: 32px;
      width: 32px;

      & + img {
        margin-left: 20px;
      }
    }
  }
}

// === / footer ===
